@import "susy";

$susy: (
  columns: 12,
  container: 1120px,
  global-box-sizing: border-box
);

@include border-box-sizing;

.wrapper {
  @include container;
}

.left-sidebar {
  @include span(5);
}

.content {
  @include span(7 last);
}

